* {
    background-color:rgba(49, 55, 61, 0.8);
}

#company_name {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
  }
  
.grid-item {
    /* background-color: rgba(15, 89, 158, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

/* .mdc-button {
    width: 60%;
    justify-content: center;
} */

/* #calcButtonDiv {
    padding: 3%;
} */

#calculateButton {
    width: 60%;
    justify-content: center;
    margin: 2%;
}

#clearButton {
    width: 20%;
    justify-content: center;
}

#calcButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdc-button__label{
    color: white;
    font-weight: bold;
    font-size: 25px;
  }

/* .mdc-card {
    height: 200px;
    width: 200px;
    background-color: rgba(15, 89, 158, 0.8);
} */

.items {
    object-fit: fill;
    height: 150px;
    width: 150px;
}

.card_content {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.num_input {
    width: max fit-content;
}

